<html>
  <head>
    <title>Random Dog Generator</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Welcome to the Random Dog Pic Generator!</h1>
    <p>Click the button below for your random dog picture.</p>
    <form action="/random_dog" method="get">
      <button type="submit">Show me my doggo!</button>
    </form>
  </body>
  </head>
</html>
