<html>
  <head>
    <title>Random Dog Pic</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
    <body>
    <h1>Here is your doggo!</h1>
    <img src="<%= @dog_image_url %>" alt="Random Dog Pic"
    <br>
    <a href="/">Go Back</a>
    </body>
  </head>
</html>
